# Testing
pytest==9.0.2
pytest-cov==7.0.0
pytest-mock==3.14.1

# Display/Image manipulation
Pillow==12.1.0

# Dependencies
requests==2.32.5
# python-dotenv==1.0.0  # For config management
pyyaml==6.0.3
caldav==2.2.3